{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" style="height: 600px; width: 350px;" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <h3 class="mt-0">Saison {{ season.number }} ({{ season.year}})</h3>
            <p>{{ season.description }}</p>

            <ul>
                {% for episode in episodes %}
                    <li>
                        <h5>Episode {{ episode.number }} : {{episode.title}} </h5>
                        <span>
                    <a href="{{ path("program_episode_show", { programId: program.id, seasonId : season.id, episodeId : episode.id}) }}">Résumé</a>
                 </span>
                    </li>
                    <br>
                {% endfor %}
            </ul>

        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}